<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-text pull-right wbdv-no-right-margin">
            <a href="#/profile/{{model.user.id}}">{{model.user.firstName}}&nbsp;&nbsp;</a>
            <a ng-click="model.logout()">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </div>
        <div class="navbar-header navbar-brand pull-left">
            <span ng-click="model.openNav()">
                <a class="glyphicon glyphicon-align-justify"></a>
            </span>
            <a>Plagiarism Checker</a>
        </div>
    </div>
</nav>
<div id="mySidenav" class="sidenav">
    <span ng-click="model.closeNav()">
        <a class="glyphicon glyphicon-remove pull-right"></a>
    </span>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#/profile/{{model.user.id}}">Profile</a>
    <a href="#/profile/{{model.user.id}}/course">Courses</a>
    <a href="#/profile/{{model.user.id}}/statistics" ng-if="model.user.userType !== 'Student'">Usage Statistics</a>
</div>
<div id="main">
    <div class="container-fluid row">
        <div>
            <a href="#/profile/{{model.user.id}}/course/new" ng-if="model.user.userType === 'Professor'">
                <span class="glyphicon glyphicon-plus pull-right"></span>
            </a>
            <a href="#/profile/{{model.user.id}}/course/registerCourse" ng-if="model.user.userType === 'Student'">
                <span class="glyphicon glyphicon-plus pull-right"></span>
            </a>
        </div>
    </div>
    <div class="row container-fluid">
        <div class="col-xs-12 ">
            <div class="alert alert-danger" ng-show="model.error">
                {{model.error}}
            </div>
            <ul class="list-group" ng-if="model.user.userType === 'Professor'">
                <li ng-repeat = "course in model.courses"
                    class="list-group-item">
                    <a href="#/profile/{{model.user.id}}/course/{{course.id}}/homework">
                        {{course.name}}
                    </a>
                </li>
            </ul>
            <ul class="list-group" ng-if="model.user.userType === 'Student'">
                <li ng-repeat = "enrollment in model.enrollments"
                    class="list-group-item">
                    <a href="#/profile/{{model.user.id}}/course/{{enrollment.course.id}}/homework">
                        {{enrollment.course.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text text-capitalize">
            <div class="col-xs-4 text-center">
                <i class="fa fa-copyright" aria-hidden="true"><strong>Team102</strong></i>
            </div>
        </div>
    </div>
</nav>